<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Bio</th>
      <th>Experience</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @trainer.photo %></td>
        <td><%= @trainer.first_name %></td>
        <td><%= @trainer.last_name %></td>
        <td><%= @trainer.phone %></td>
        <td><%= @trainer.bio %></td>
        <td><%= @trainer.experience %></td>
      </tr>
  </tbody>
</table>

<h2> <%= @trainer.comments.count %> Comments</h2>
    <%= render @trainer.comments %>
    <% if current_user %>
    <h3>Add a Comment: </h3>
    <%= render 'comments/form' %>
<br>
<%= link_to 'Edit', edit_trainer_path(@trainer) %> <br>
<% end %>
<%= link_to 'Back', trainers_path %>
