<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @trainer.photo %>
</p>

<p>
  <strong>First name:</strong>
  <%= @trainer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @trainer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @trainer.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @trainer.bio %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @trainer.experience %>
</p>

<h2> <%= @trainer.comments.count %> Comments</h2>
    <%= render @trainer.comments %>
    <% if current_user %>
    <h3>Add a Comment: </h3>
    <%= render 'comments/form' %>
<br>
<%= link_to 'Edit', edit_trainer_path(@trainer) %> <br>
<% end %>
<%= link_to 'Back', trainers_path %>
